back-end/__obsolete
back-end/_database
back-end/_sample_responses
back-end/_sqlBuilders
back-end/node_modules

/front-end/TODOS.txt
/front-end/src/__jsons
/front-end/src/__obsolete
/front-end/src/__old_220717
/front-end/src/__snapshots__
/front-end/src/_data
/front-end/src/_images
/front-end/src/items/maybe
/front-end/src/hooks/not